@import "tailwindcss";

@theme {
  --color-text: oklch(23.5% 0 89.88);
  --color-background: oklch(98.41% 0.01 189.07);
  --color-primary: oklch(0.3855 0.066 200.75);
  --color-secondary: oklch(94.02% 0.043 189.2);
  --color-accent: oklch(28.38% 0.108 27.12);

  --font-reddit-mono: "Reddit Mono", serif;

  /* custom mediaquery for responsive design */
  --breakpoint-xs: 30rem;
}
